/*header footer color*/
$colorGreen:rgb(61, 161, 122);
$textYellow:rgb(255, 208, 0);

/*index menus background color*/
$menuEnchantee:rgb(251, 220, 219);
$menuChic:rgb(255, 245, 254);
$menuDelice:rgb(248, 239, 239);
$menuPalette:rgb(245, 240, 240);

/* menu 1 la note enchantée color */
$enchanteeBrown:rgb(63, 19, 14);

/* menu 2 le chic à la française color, gradient menu color se trouve dans la partie mixin*/
$menuChic:rgb(250, 216, 222);
$menu2EntreeColor:rgb(153, 106, 29);
$menu2PlatColor:rgb(177, 134, 173);
$menu2DessertColor:rgb(108, 98, 223);
$menu2IndexCafeColor:rgb(199, 116, 18);

/* menu 3 le délice des papilles color,gradient menu color se trouve dans la partie mixin */
$menu3IndexBlueColor:rgb(21, 91, 164);

/* menu 4 la palette du goût color,gradient menu color se trouve dans la partie mixin*/
$menu4IndexGreenColor:rgb(66, 174, 59);


