/*header footer prochainement font*/
#header-content a{
    font-family: 'Work Sans', sans-serif;
    
}
#prochainement h2{
    font-family: 'Poppins', sans-serif;
}

#footer{
    h2{
    font-family: 'Merriweather Sans', sans-serif;
    }
}
/*----------------------------*/

/*  index fonts  */
#menu-enchantee {
h3{
    font-family: 'Niconne', cursive;
}
p{
    font-family: 'Tillana', cursive;
}
}

#menu-chic {
    h3{
    font-family: 'Croissant One', cursive;
}
p{
    font-family: 'Merriweather', serif;
}
}

#menu-delice {
    h3{
    font-family: 'Parisienne', cursive;
}
p{
    font-family: 'Shadows Into Light', cursive;
}
}

#menu-palette {
    h3{
    font-family: 'Kaushan Script', cursive;
}
p{
    font-family: 'Shadows Into Light', cursive;
}
}
/*----------------------------*/

/* menu 1 font */
#wrap-menuEchantee{
    h3{
        font-family: 'Niconne', cursive;
    }
    h4{
        font-family: 'Kalam', cursive;
        font-weight: bold;
      
    }
    p{
        font-family: 'Kalam', cursive;
    }
    }
/*--------------------------------*/

