
#menu-enchantee {
    background-color:$menuEnchantee;
    img{
        width:23%;
    }
h3{
    margin-top: -30px;
    font-size: 30px;
    color:$enchanteeBrown;
}
p{
    margin-top: -5px;
    color:$enchanteeBrown;
}
}

#menu-chic {
    background-color:$menuChic;
    h3{ 
        font-size: 30px;
        @include menu2GradientColor;
}
p{
    color:$menu2IndexCafeColor;
}
}

#menu-delice {
    background-color: $menuDelice;
    h3{
        font-size: 25px;
        @include menu3GradientColor; 
}
p{
    color:$menu3IndexBlueColor;
}
}

#menu-palette {
    background-color: $menuPalette;
    h3{
        font-size: 25px;
        @include menu4GradientColor;
}
p{
    color:$menu4IndexGreenColor;
}
}

/* partie button prochainemet */
#container2{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 120px;
}
#prochainement{
  border-radius: 0.5rem;
  width:300px;
  height:90px;
  background-color:$colorGreen;
  color:$textYellow;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: $textYellow;
    transform-origin: center;
    animation: dot-animation 3s infinite;
    
    &:nth-child(1) {
      animation-delay: 0s;
    }
    
    &:nth-child(2) {
      animation-delay: 0.3s;
    }
    
    &:nth-child(3) {
      animation-delay: 0.6s;
    }
  
    @keyframes dot-animation {
      0%,
      100% {
        transform: scale(1.1);
      }
      50% {
        transform: scale(0.5);
        background-color:$textYellow;
      }
    }
}